<main>
    <section class="entry-list-section">
      <div class="container">
        <h1>Car Entry List</h1>
        <div class="card-grid">
        @for (car of cars; track $index) {
          <div class="card" [routerLink]="car._id">
            <img src="{{car.imageUrl}}" alt="Car Photo">
            <div class="card-content">
              <h2>Car #{{car.number}}</h2>
              <p><strong>Manufacturer:</strong> {{car.manufacturer}}</p>
              <p><strong>Model:</strong> {{car.model}}</p>
              <p><strong>Drivers:</strong> {{car.driver1.name}}, {{car.driver2.name}}</p>
            </div>
          </div>
        }
        </div>
      </div>
    </section>
  </main>