<main>
    <section class="hero">
      <div class="hero-content">
        <h1>Welcome to the EnduroTrack Championship</h1>
        <p>Experience the thrill of endurance racing.</p>
        <a routerLink="/about" class="btn">Learn More</a>
      </div>
    </section>

    <section class="features">
      <div class="container">
        <div class="feature">
          <h2>Event Schedule</h2>
          <p>Don't miss a moment of the action.</p>
        </div>
        <div class="feature">
            <h2>Register your own team.</h2>
            <p>Gather a race ready team and compete with the others.</p>
          </div>
        <div class="feature">
          <h2>Teams & Drivers</h2>
          <p>Meet the legends of endurance racing.</p>
        </div>
      </div>
    </section>
  </main>
