<main>
    <section class="schedule-section">
      <div class="container">
        <h1>Race Calendar</h1>
        <div class="card-grid">
          @for (circuit of circuits; track $index) {
          <div class="card" [routerLink]="circuit._id">
            <img src="{{circuit.imageUrl}}" alt="{{circuit.name}}">
            <div class="card-content">
              <h2>{{circuit.name}}</h2>
              <p><strong>Location:</strong> {{circuit.location}}</p>
              <p><strong>Length:</strong> {{circuit.length}}km</p>
              <p><strong>Race Date:</strong> {{circuit.raceDate}}</p>
            </div>
          </div>
        }
        </div>
      </div>
    </section>
  </main>
